/node_modules
/dist
/.yalc
/yalc.lock
.DS_Store
.hass/config/www/custom-sidebar.js
.hass/config/www/custom-sidebar-yaml.js
/.nyc_output
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/coverage
/.env
